*{
    margin: 0px;
    padding: 0px;
    font-size: 0px;
    background: #e83632;
    list-style: none;
}
.Logo{
    height: 270px;
    width: 100%;
    display: inline-block;
}
.Logo img{
    height: 150px;
    width: 150px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 70px;
}
.Login
{
    position: absolute;
    height: 100px;
    width: 60%;
    margin-left: 18%;
}
.userId,.passcode{
    height: 50%;
    width: 100%;
    background: #ffffff;
    border-radius: 10px;
    font-size: 16px;
    padding-left: 30px
   
}

.Login h1{
    position: relative;
    font-size: 25px;
    left: 7px;
    top: -94px;
    background: #ffffff;
}
.Login h2{
    position: relative;
    font-size: 25px;
    left: -12px;
    top: -37px;
    background: #ffffff;
}
.loginbtn{
    height: 60%;
    width: 259px;
    background:#ac1a16;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
    font-size: 27px;
    margin-left: 57%;
    transform: translateX(-50%)
}
.register{
    font-size: 13px;
    position: relative;
    top: 5px;
    margin-left: 50%;
    transform: translateX(-50%)
}
a{ 
    text-decoration:none; 
    color:#333; 
    } 
.login_bottom{
    width: 100%;
    position: relative;
    bottom: -215px;
}