*{
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-size: 0px;
}
html{
    overflow: hidden;
}
a{ 
    text-decoration:none; 
    color:#333; 
    } 
.header{
    height: 60px;
    width: 100%;
    background: #e83632;
}
.header ul li{
    font-size: 23px;
    color: #ffffff;
    display: inline-block;
    /* text-align: center; */
}
.header ul li i{
    font-size: 30px;
    margin-top: 14px;
    margin-left: 80%;
}
.header ul li:nth-child(2){
    margin-left: 50%;
    transform: translateX(-75%)
}
.myself{
    height: 80px;
    width: 99%;
    position: absolute;

}
.myself li:nth-child(1) img{
    height: 85px;
    width: 85px;
    border-radius: 100%;
    margin-left: 5%;
    margin-top: 5%;
}
.myself li:nth-child(2)
{
    font-size: 16px;
    display: inline-block;
    position: relative;
    left: 32%;
    top: -55px;
    color: #656565;
}
.myself li:nth-child(3){
    position: relative;
    font-size: 27px;
    left: 335px;
    top: -84px;
    color: #656565;
    width:1rem;
}
.List ul li{
    height: 61px;
}
.List ul li p {
    width: 200px; 
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    text-indent: 20px;
}
.List ul li:nth-child(1)
{
    margin-top: 110px;
}
.List ul li::after{
    content: ">";
    font-size: 20px;
    color: #656565;
    position: relative;
    right: -85%;
    top: -40px;
}
#tuijian_p{
    font-size: 50px;
    text-align: center;
}
#tuichu{
    display: inline-block;
    text-align: center;
    font-size: 25px;
    color: white;
    background: red;
    border-radius: 20%;
}
.List ul li:nth-last-child(1)::after{
    content: "";
}